ここに簡単に現在のファイル名と役割を記載しておきます。

ファイル名               →役割
index.html              →ホーム
list.php                →元メニュー(使うかわからん)
store.html              →開店開店時間マップの表示(おそらくもう使わない)
server.php              →データベース接続
styles.css              →bootstrap
mystyle.css             →スライダー
menu.php                →現メニュー
Food.php                →Food詳細,カート追加ページ(idにより、名前,写真,値段が変わる)
Drink.php               →Drink詳細ページ(現在カート追加不可)
Cart.php                →商品予約一覧(商品の有無の確認もあり)
Cart-show.php           →商品予約一覧
Cart-insert.php         →商品予約一覧＋商品追加完了の文表示
Cart-delete.php         →商品予約一覧＋商品削除完了の文表示


フォルダ名       →役割
assets          →画像ファイル
css             →css
js              →js
login           →ログイン機能すべて
seat            →席予約


～～～～～～すること～～～～～～
・ログイン用SQLとpan.sqlを接続
・予約サイト
・座席予約
・予約サイト作成後、リンクの接続
※以下随時記載

現在(6/21)
foodのカート追加は完了
drinkのカート追加完了

カート追加からの購入部分未完

アカウントとの連携未完

カートや、foodなどのページのCSS
～～～～～～～～～～～～～～～～


Q,なぜログインさせるのか
A,クーポンなどを配るとなると、各個人で管理しなければならないため